.grid-container {
    display: flex; 
    justify-content: space-between; 
    height: calc(100vh - 350px);
    margin: 20px;
  }
  
  .left-column {
    width: 560px; 
  }
  
  .right-column {
    background-color: rgb(145, 143, 143); 
    padding: 20px;
    margin: 20px;
    height: 500px;
    border-style: outset;
    max-width: 580px;
  }
  
  h1 {
    color: white;
    margin-bottom: 5px;
  }
  
  
  iframe {
    width: 840px;
    height: 420px;
  }
  .steam{
    height: 200px;
    margin: 0px;
  }
  